<%- include('partials/header');%>

<header class="bg-info">
    <div class="container text-center p-3">
        <h1>Welcome to campgrounds Page</h1>
        <p>View and Check our best camp grounds recommendations</p>
        <a href="campgrounds/new" class="btn btn-light col-2 mx-auto my-2" >Add New Camp</a>

    </div>
</header>

<section >
    <div class="container">
        <div class="row no-gutters">
            <% camps.forEach(function (camp) {%>
            <div class="col col-12 col-md-6 col-lg-4 ">
                <div class="card m-2">
                    <img class="card-img-top" src="<%= camp.image%>">
                    <div class="card-body m-2">
                        <h3 class="card-title"><%=camp.name%></h3>
                        <p class="card-text"><%= camp.description%></p>
                        <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">Show Details</a>
                    </div>
                </div>
            </div>
            <%});%>
        </div>

    </div>
</section>

<%- include('partials/footer');%>
